p {
	color: darkorange;
	background: darkgreen;
	font-size: large;
	text-align: center; 
	font-style: italic;
	font-weight: bold; 
	font-family: calibri 
	}
h1 {
	text-align: center;
	font-size: xx-large;
	font-style: italic;
	font-family: calibri; 
	text-shadow: 0 0 5px orange;
	}