table {
	border: 1px solid black;
	width: 100%;
	text-align: center;
	font-style: italic;
	font-family: calibri; }
td:hover {
	background-color: gold;
	color: black; }
th {
	background-color: black;
	color: white;
	padding: 10px; }
td {
	background-color: darkgreen;
	color: white;
	padding: 10px; 	}
